@font-face {
  font-family: "Roc Grotesk";
  src: url("./assets/Roc Grotesk/Kostic - Roc Grotesk Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("./assets/Roc Grotesk/Kostic - Roc Grotesk Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("./assets/Roc Grotesk/Kostic - Roc Grotesk Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Roc Grotesk Condensed";
  src: url("./assets/Roc Grotesk/Kostic - Roc Grotesk Condensed.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Roc Grotesk Condensed";
  src: url("./assets/Roc Grotesk/Kostic - Roc Grotesk Condensed Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
